<!-- start of footer -->
<footer class="blog-footer">
  <p><%= @copyright %> by <a href="https://twitter.com/TrillVinzini">@TrillVinzini</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>
<!-- end of footer -->

