<main role="main" class="inner cover">
  <h1 class="cover-heading">Cover your page.</h1>
  <p class="lead">My thanks to Rogue Amoeba for sponsoring this week at DF to 
  promote SoundSource, their powerful Mac menu bar app that provides quick access 
  to audio devices, per-app volume control, and much more My thanks to Rogue Amoeba 
  for sponsoring this week at DF to promote SoundSource, their powerful Mac menu bar 
  app that provides quick access to audio devices, per-app volume control, and much more.</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</main>

